  @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

html {
    box-sizing: border-box;
    background-color: black;
    margin: 0 auto;
    width: 1600px;
    background-color: rgb(1, 12, 19);
}
body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
span {
  color: brown;
}
.header {
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #004356;
    opacity: 50%;
    align-items: center;
    border-radius: 25px;
    margin-left: 100px;
    margin-right: 100px;
}
.header__img img{
    width: 80px;
    margin-left: 100px;
}
.header__list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header__list a{
    font-family: 'Poiret One';
    font-size: 25px;
    margin-right: 100px;
    color: white;
    text-decoration: none;
}
.zagolovok {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    color: white;
    font-family: 'Monoton';
    opacity: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.zagolovok a:hover {
    color:#ff7171;
}
.zagolovok a {
    text-decoration: none;
    color: white;
    border: 10px;
    border-radius: 25%;
}
.masters_left {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 20px;
    color: white;
    padding-left: 50px;
}
.masters_left_img img{
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;    
    border: 5px solid rgb(0, 67, 86);
    animation: ulia 20s infinite alternate;
    
}
   /*Анимация фото начало*/
   @keyframes ulia {
    
    0% {
      border-radius: 50% 50% 56% 44% / 46% 49% 51% 54%;
    }
    30% {
      border-radius: 64% 36% 27% 73% / 64% 38% 62% 36%;
    }
    60% {
      border-radius: 53% 47% 61% 39% / 34% 77% 23% 66%;
    }
    100% {
        border-radius: 64% 36% 27% 73% / 64% 38% 62% 36%;
    }
  }
    /*Анимация фото начало*/
.line {
    height: 450px;
    border-left: 2px solid rgb(0, 67, 86);
    position: fixed;
    left: 50%;
    top: 150px;
    opacity: 50%;
    filter: blur(6px);
}


.masters_left p {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    text-align: right;
    font-family: 'Alumni Sans Pinstripe', bold;
    word-spacing: 7px;
    font-size: 25px;
    padding-left: 2%;
    margin-right: 5%;
}

.masters_right {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 20px;
    color: white;
}
.masters_right_img img{
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;    
    border: 5px solid rgb(0, 67, 86);
    animation: lena 20s infinite alternate;
}
   /*Анимация фото начало*/
   @keyframes lena {
    
    0% {
      border-radius: 53% 47% 61% 39% / 34% 77% 23% 66%;
    }
    30% {
      border-radius: 50% 50% 56% 44% / 46% 49% 51% 54%;
    }
    60% {
      border-radius: 64% 36% 27% 73% / 64% 38% 62% 36%;
    }
    100% {
        border-radius: 50% 50% 56% 44% / 46% 49% 51% 54%;
    }
  }
    /*Анимация фото начало*/

    
.masters_right_img:last-child {
  margin-left: 6%;
}
.masters_right p {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    text-align: left;
    font-family: 'Alumni Sans Pinstripe', bold;
    word-spacing: 8px;
    font-size: 25px;
    margin-left: 5%;
    margin-right: 2%;
}
.footer {
  color: white;
  opacity: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: 'Poiret One';
  word-spacing: 15px;
  min-height:30px;
 
}
