  @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

html {
    box-sizing: border-box;
    background-color: black;
    margin: 0 auto;
    width: 1600px;
    background-color: rgb(1, 12, 19);
}
.header { 
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #004356;
    opacity: 50%;
    align-items: center;
    border-radius: 25px;
    margin-left: 100px;
    margin-right: 100px;
}
.header__img img{
    width: 80px;
    margin-left: 100px;
}
.header__list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header__list a{
    font-family: 'Poiret One';
    font-size: 25px;
    margin-right: 100px;
    color: white;
    text-decoration: none;
}
.zagolovok {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    color: white;
    font-family: 'Monoton';
    opacity: 90%;
    justify-content: center;
}
.zagolovok a:hover {
    color:#ff7171;
}
.zagolovok a {
    text-decoration: none;
    color: white;
    border: 10px;
    border-radius: 25%;
}
.masters_left {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 20px;
    color: white;
}
.masters_left_img img{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;    
    border: 10px solid rgb(0, 67, 86);
    animation: ulia 5s infinite alternate;
    margin-left: 50px;
}
   /*Анимация фото начало*/
   @keyframes ulia {
    
    0% {
      border-radius: 50% 50% 56% 44% / 46% 49% 51% 54%;
    }
    30% {
      border-radius: 64% 36% 27% 73% / 64% 38% 62% 36%;
    }
    60% {
      border-radius: 53% 47% 61% 39% / 34% 77% 23% 66%;
    }
    100% {
        border-radius: 64% 36% 27% 73% / 64% 38% 62% 36%;
    }
  }
    /*Анимация фото начало*/
.line img {
    height: 50%;
    display: flex;
    height: 500px;
    width: 150px;
}
.masters_left p {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    text-align: right;
    font-family: 'Alumni Sans Pinstripe', bold;
    word-spacing: 10px;
    font-size: 25px;
    margin-left: 10%;
}

